*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;

}
header{
    position: sticky;
    top:0;
    left: 74px;
    width: 90%;
    height: 100px;
    border:2px solid red;
    border-radius: 15px;
    background-image: linear-gradient(to right, white 15%,red,#ac0909);
    margin: 2px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-image{
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center
}
header nav{
    align-self: flex-end;
    font-size: 20px;
    display: flex;
}
header nav a{
    text-decoration: none;
    color:black;
    font-weight: 600;
    margin-right: 26px;
}
header nav a:hover{
    border-radius: 5px;
    background-color: red;
    font-size: 24px;
    font-style: italic;
}
.header-search{
    width: 290px;
  height: 80px;
    display: flex;
    align-items: flex-end;
}
.header-search input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
}
.header-search i{
    color:rgb(28, 27, 25);
    animation: shadow 2s infinite alternate;
}
@keyframes shadow {
to{
    font-size: 24px;
    text-shadow: 5px 5px 5px rgb(245, 248, 249);
}
from{
    font-size: 27px;
    color:rgb(251, 247, 247);
    text-shadow: 5px 5px 5px rgb(247, 248, 245);
}
}


.total{
    width: 90%;  
    margin: 0 auto;
    display: flex;
}
aside{
    margin-top: 5px;
    width: 350px;
    height: 1000px;
    border:2px solid red;
    border-radius: 15px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, white, rgb(113, 9, 9));
}
aside img{
    margin:10px 0;
}
aside H2{
    text-align: center;
    color: #ac0909;
    font-size: 40PX;
    animation: kiev 2s infinite alternate;
}
@keyframes kiev {
to{
    text-shadow: 5px 5px 5px rgb(232, 14, 25);
}
from{
    color:rgb(30, 29, 29);
    text-shadow: 5px 5px 5px rgb(162, 235, 17);
}
}
main{margin:5px;
    width: 90%;
    min-width: 800px;
    height: 1000px;
    border:2px solid red;
    border-radius: 15px;
    overflow: hidden;
    right: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg,rgb(245, 235, 235),rgb(249, 165, 165));
}
.main-div-img img{
    margin: 20px;
    border-radius: 15px;
    border:2px solid red;
}
footer{
    width: 90%;
    height: 100px;
    border:2px solid red;
    border-radius: 15px;
    background-image: linear-gradient(to right,#ac0909, white 50%,#ac0909);
    margin: 2px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;}

footer a{
    font-size: 20px;
    margin-right: 20px;
    color:black;
}
footer a:hover{
    color:#f60707;

}

    

@media screen and (max-width:1420px) {}

@media screen and (max-width:1200px) {
    main{
        display: none;
    }
    aside{
        margin: 0 auto;
    }
    body{
        background-image: linear-gradient(180deg, rgb(248, 228, 228),red);
    }
}

@media screen and (max-width:989px) {
    header nav {
        flex-wrap: wrap;
    }
    .header-search i{
        display: none;
    }
    
}
@media screen and (max-width:750px) {
    header nav {
        display: none;}
    }
    
@media screen and (max-width:616px) {
    header{
        width:450px ;
    }
    aside{
        width:350px ;
    }
}


    